html {
  font-size: 16px;
}

.gallery-grid {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  background: linear-gradient(to bottom right, rgb(161, 224, 243), rgb(7, 87, 161));
}

.poster {
  cursor: pointer;
  background: linear-gradient(to bottom left, rgb(151, 196, 202), rgb(238, 191, 220));
  height: 550px;
  width: 210px;
  border: 2px solid black;
  border-radius: 5px;
}

.tvshow-data {
  cursor: pointer;
  font-family: serif;
  font-size:16px;
  line-height: 2.5ch;
  color: black;
}

.tvshow-details {
  cursor: pointer;
  position: relative;
}

.episode-name {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.season-ep {
  font-size: 24px;
  color: rgb(42, 106, 143);
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.network-name {
  position: absolute;
  font-size: 16px;
  color: rgb(55, 27, 92);
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  padding: 5px;
  top: 150px;
}

.time-date-info {
  position: absolute;
  font-size: 16px;
  color: rgb(55, 27, 92);
  font-weight: bold;
  font-family: sans-serif;
  text-align: right;
  padding: 5px;
  top: 200px;
}

.blank-page {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  -webkit-text-fill-color: brown;
}